@(signUpForm: Form[SignUp])(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)
@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@main(Messages("SignUp"), None) {
<div class="text-center">
  <h1>@Messages("SignUp")</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    @signUpForm.globalError.map { error =>
    <div class="alert alert-warning" role="alert">
      @Messages(error.message, error.args)
    </div>
    }
    @b4.formCSRF(routes.SignUpController.register) {
    @b4.text(signUpForm("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Name")
    @b4.email(signUpForm("email"), Symbol("_label") -> "Email", Symbol("placeholder") -> "example@mail.com")
    @b4.password(signUpForm("password"), Symbol("_label") -> "Password", Symbol("placeholder") -> "Password")
    @b4.password(signUpForm("confirm"), Symbol("_label") -> "Confirm", Symbol("placeholder") -> "Confirm")
    @b4.submit(Symbol("class") -> "btn btn-primary btn-block") {
    @Messages("SignUp")
    }
    }
  </div>
</div>
}